<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">
    <!-- 공통 css, js 추가 -->
    <link rel="stylesheet" href="css/styles.css" />
    <script type="text/javascript" src="js/scripts.js"></script>
    
    <!-- bxslider 슬라이드 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(".slide_img").bxSlider({
		mode: "fade",
		speed: 500,
		pause: 3000,
		auto: true,
		controls: true,
		pager: true,
	    maxSlides: 1,
	    mode: 'horizontal',
	    adaptiveHeight:true,
	    pagerType: 'full'
	    
	});
});
</script>

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
    
    
</head>